<h1>Listing positions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Port</th>
      <th>Date open</th>
      <th>Capacity</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.title %></td>
        <td><%= position.port_id %></td>
        <td><%= position.date_open %></td>
        <td><%= position.capacity %></td>
        <td><%= position.type %></td>
        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position', new_position_path %>
